.map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 900px;
  margin: 0 auto;
}

.hoslist {
  background-color: rgba(238, 238, 238, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 90px;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('../font/NotoSerif-Bold.ttf');
}

.btns button {
  background-color: transparent;
  font-family: 'NotoSerif';
  font-size: 20px;
  font-weight: 500px;
  color: rgb(100, 100, 100);
  padding: 30px;
  border: none;
  cursor: pointer;
}

.btns button:focus {
  background-color: transparent;
  font-family: 'NotoSerif';
  font-size: 22px;
  font-weight: 550;
  color: black;
  letter-spacing: -2px;
  border: none;
}