.bg {
  width: 60%;
  height: 600px;
  padding-top: 60px;
  margin: 0 auto;
  background-color: #F8FBFB;
}
.bg .log {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.bg .log01 {
  display: flex;
  align-items: left;
  margin-bottom: 0;
  margin-left: 35%;
}
.bg .phonenum{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  width: 30%;
  height: 25px;
  border: 1px;
}

.bg .log02 {
  display: flex;
  align-items: left;
  margin-bottom: 0;
  margin-left: 35%;
}
.bg .resinum{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  width: 30%;
  height: 25px;
  border: 1px;
}

.bg .logbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 100px;
  height: 25px;
  border: 1px;
  font-size: 14px;
  font-weight: bold;
}